# CMake files
src/CMakeFiles/
src/CMakeCache.txt
src/cmake_install.cmake
src/CPackConfig.cmake
src/CPackSourceConfig.cmake
src/Makefile

src/bin/CMakeFiles/
src/bin/*.cmake
src/bin/config.h
src/bin/Makefile

src/lib/gzzzt/CMakeFiles/
src/lib/gzzzt/*.cmake
src/lib/gzzzt/Makefile

# Executables and libraries
*.so*
src/bin/client/gzzzt
src/bin/client/gzzzt-server

# Temporary files
*~
